PORT=3000
NODE_ENV=development
FRONTEND_URL=http://localhost:4200
JWT_SECRET=your-super-secret-key-change-this-in-production
DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/resideease?schema=public"
